In [5]:
#Import necessary libraries
import pandas as pd

In [10]:
#Read in CSV to a dataframe
##Automatically assumes that the first row contains header information. If this is not the case, add modify like
###so: pd.read_csv("",header=None)
df = pd.read_csv("data_raw/Data.csv")
df

  First Name Last Name  Score
0     Andrew       Cho    100
1      John        Lim      5
2     Oliver       Lee      3
3    Stephen        An      1

In [11]:
#Read in Excel file to a dataframe
##Automatically assumes that the first row contains header information
##Automatically assumes that the first row contains header information. If this is not the case, add modify like
###so: pd.read_excel("",header=None)
df = pd.read_excel("data_raw/Data.xlsx")
df

  First Name Last Name  Score
0     Andrew       Cho    100
1      John        Lim      5
2     Oliver       Lee      3
3    Stephen        An      1