In [1]:
#import necessary libraries
import requests
import json
import pandas as pd
import numpy as np

In [2]:
#initialize list of player IDs
playerIDs = []

def get_playerIDs():
    del playerIDs[:]
    #URL for player stats
    players_url = 'http://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=08%2F01%2F2017&DateTo=01%2F10%2F2018&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2017-18&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='

    #for some reason, stats.nba.com seems to be blocking requests, but I found a workaround by setting up the request headers to match that of my browser
    headers = {'Accept': 'application/json, text/plain, */*',
              'Accept-Encoding': 'gzip, deflate, br',
              'Accept-Language': 'en-US,en;q=0.9,ko;q=0.8,it;q=0.7',
              'Connection': 'keep-alive',
              'Cookie': 's_cc=true; s_fid=58934926698E1622-1EFF83B875B92BD6; s_vi=[CS]v1|2D122DED85030B7C-600011846000BA7C[CE]; ASP.NET_SessionId=hz2hnihwtkklykyio3bwuncz; globalUserOrderId=Id=; bSID=Id=202843ae-ab57-4447-98fc-2ba650e04e46; mmapi.store.p.0=%7B%22mmparams.d%22%3A%7B%7D%2C%22mmparams.p%22%3A%7B%22pd%22%3A%221545070715833%7C%5C%221554846393%7CAQAAAApVAgDdTfzdow8AAREAAUIBpXMpAQAPS56WekXVSA9LnpZ6RdVIAAAAAP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FAAZEaXJlY3QBow8BAAAAAAAAAQAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FBAB5SAAAGodctJOjDwD%2F%2F%2F%2F%2FAaMPow%2F%2F%2FwEAAAEAAAAAAd6xAADOGQEAAPhTAACY6UAK7qMPAP%2F%2F%2F%2F8Bow%2BjD%2F%2F%2FAQAAAQAAAAAB98sAAAFEAQAA1bwAAKphasrSow8A%2F%2F%2F%2F%2FwGjD6MP%2F%2F8BAAABAAAAAAHgrAEAfI8CAADJqwAAMpXF9jmjDwD%2F%2F%2F%2F%2FAaMPow%2F%2F%2FwEAAAEAAAAAAbOJAQAFWQIAAAAAAAAAAUU%3D%5C%22%22%2C%22srv%22%3A%221545070715858%7C%5C%22nycvwcgus02%5C%22%22%7D%7D; mmapi.store.s.0=%7B%22mmparams.d%22%3A%7B%7D%2C%22mmparams.p%22%3A%7B%7D%7D; s_fuid=63825255262426291542233648768471346134; s_pers=%20s_last_team%3DNew%2520York%2520Knicks%7C1545070716985%3B; _4c_=fVPdTuM8EH2VlS%2B4KvVf7NiVKtSWIrH7URbaRdorZOJJG7VNIseBDyHenUlpuwhWm0rVzPGZmeOZ8Qt5WkFJBlxxqaTizKhE9MganhsyeCFZ3f0%2F7szKAxkQbvtJX5AeacMG3VWM9YDSJlYB%2BuWD62fVlm7ALVugs%2FGIRnBbOoOn%2B99VWN%2F%2FKIts3dDMRVhW4ZlKZhL6EKqnBmgOLrYBfB0q32aRCsMEV5bWLsQSQuEpF6nQtKnakAF1a26TBCue1ht31qzboVXMSGtQ2nxV1HVRLq8griqPKmcI%2FsSwlWvAz90GLiNs9%2Fj1tizuXEjsApr4CTNfMaX%2BgumvmPnIm1RtXZW%2FsPge%2BG%2FXoeuwwPYcheFZFx88hMvzD86d27Rd67tLuCUsnuuDNz%2FwbgF7V%2BKVJy2OYgvhYy68KwooOzGIvbe7I0xWAanftEQ0x0GTzDIQudRMpQljMudSGJ%2FkFhQIIxVDXoVrQa5chmaAHEI4lGqK2KnKXelikTXdHiAaIWy7iE7L1eL2fjwdTa5nf%2FbmSOdc9EWV9kuI9IE2zfHEw2MPbRw0WpTT7%2FNTjhsoaSOsVkYwlXCNoz8b3YyH%2FCQv%2FFAZKxMrtLZmyrUQp3x6cWHk2KRqbMX4XJ%2BMbqZDjppq3GzSGZsqw61AB9%2FCa4%2F8%2F%2F4gtEBZWrMULxJx243GtuCHDNzH%2FcsgMmMZMx6ET13unXLeAYdUZJIlhtku%2FS6f4JKzVCj8YYIa8%2B3i%2BbGcSuyunNyX48mxXCf0E%2FsgTn8V9z7if8SYzzGvr28%3D; fsr.s={"f":1513535109275}; __gads=ID=3fcb48e97bf2e17b:T=1513643140:S=ALNI_Ma_GcnJLBJXZHp2spIpMyQ_tq-egw; _parsely_visitor={%22id%22:%2205bcee40-6330-4d4c-8555-418719d7b9ec%22%2C%22session_count%22:2%2C%22last_session_ts%22:1514577879463}; _ga=GA1.2.539792339.1515110937; _gid=GA1.2.1010385756.1515633192; ug=5a385c7c0e2aac0a3c732e33dc03d3b6; ugs=1; s_sq=fanaticsdev%252Cfannbadev%3D%2526pid%253Dnba%252520store%25253Anba%25253Anew%252520york%252520knicks%2526pidt%253D1%2526oid%253Dfunctionhide%252528%252529%25257Bmodal.style%25255B%252527display%252527%25255D%25253Doverlay.style%25255B%252527display%252527%25255D%25253D%252527none%252527%25257D%2526oidt%253D2%2526ot%253DA; _gat=1',
              'Host': 'stats.nba.com',
              'Referer': 'https://stats.nba.com/player/202689/shots-dash/',
              'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36',
              'x-nba-stats-origin': 'stats',
              'x-nba-stats-token': 'true'}

    #create dict based on JSON response
    response = requests.get(players_url, headers=headers)
    players_json = response.json()['resultSets'][0]['rowSet']
    data = json.loads(response.text)
    
    #count of players
    number_players = len(data['resultSets'][0]['rowSet'])
    
    for i in range(0, number_players):
        playerID_data = data['resultSets'][0]['rowSet'][i][0] #set playerID_data to current playerID
        playerIDs.append(playerID_data) #append playerID_data to list playerIDs

In [3]:
get_playerIDs()

In [4]:
df_overall_stats = pd.DataFrame()
df_general_shooting_stats = pd.DataFrame()
df_shot_clock_shooting_stats = pd.DataFrame()
df_dribble_shooting_stats = pd.DataFrame()
df_closest_defender_shooting_stats = pd.DataFrame()
df_closest_defender_10ftPlus_shooting_stats = pd.DataFrame()
df_touch_time_shooting_stats = pd.DataFrame()
df_shot_distance_stats = pd.DataFrame()

overall_stats = {
                    "PLAYER_ID" : None,
                    "PLAYER_NAME_LAST_FIRST" : None,
                    "SORT_ORDER" : None,
                    "GP" : None,
                    "G" : None,
                    "SHOT_TYPE" : None,
                    "FGA_FREQUENCY" : None,
                    "FGM" : None,
                    "FGA" : None,
                    "FG_PCT" : None,
                    "EFG_PCT" : None,
                    "FG2A_FREQUENCY" : None,
                    "FG2M" : None,
                    "FG2A" : None,
                    "FG2_PCT" : None,
                    "FG3A_FREQUENCY" : None,
                    "FG3M" : None,
                    "FG3A" : None,
                    "FG3_PCT" : None
                }

general_shooting_stats = {
                            "PLAYER_ID" : None,
                            "PLAYER_NAME_LAST_FIRST" : None,
                            "SORT_ORDER" : None,
                            "GP" : None,
                            "G" : None,
                            "SHOT_TYPE" : None,
                            "FGA_FREQUENCY" : None,
                            "FGM" : None,
                            "FGA" : None,
                            "FG_PCT" : None,
                            "EFG_PCT" : None,
                            "FG2A_FREQUENCY" : None,
                            "FG2M" : None,
                            "FG2A" : None,
                            "FG2_PCT" : None,
                            "FG3A_FREQUENCY" : None,
                            "FG3M" : None,
                            "FG3A" : None,
                            "FG3_PCT" : None
                        }

shot_clock_shooting_stats = {
                                "PLAYER_ID" : None,
                                "PLAYER_NAME_LAST_FIRST" : None,
                                "SORT_ORDER" : None,
                                "GP" : None,
                                "G" : None,
                                "SHOT_CLOCK_RANGE" : None,
                                "FGA_FREQUENCY" : None,
                                "FGM" : None,
                                "FGA" : None,
                                "FG_PCT" : None,
                                "EFG_PCT" : None,
                                "FG2A_FREQUENCY" : None,
                                "FG2M" : None,
                                "FG2A" : None,
                                "FG2_PCT" : None,
                                "FG3A_FREQUENCY" : None,
                                "FG3M" : None,
                                "FG3A" : None,
                                "FG3_PCT" : None
                            }

dribble_shooting_stats = {
                            "PLAYER_ID" : None,
                            "PLAYER_NAME_LAST_FIRST" : None,
                            "SORT_ORDER" : None,
                            "GP" : None,
                            "G" : None,
                            "DRIBBLE_RANGE" : None,
                            "FGA_FREQUENCY" : None,
                            "FGM" : None,
                            "FGA" : None,
                            "FG_PCT" : None,
                            "EFG_PCT" : None,
                            "FG2A_FREQUENCY" : None,
                            "FG2M" : None,
                            "FG2A" : None,
                            "FG2_PCT" : None,
                            "FG3A_FREQUENCY" : None,
                            "FG3M" : None,
                            "FG3A" : None,
                            "FG3_PCT" : None
                        }

closest_defender_shooting_stats = {
                                    "PLAYER_ID" : None,
                                    "PLAYER_NAME_LAST_FIRST" : None,
                                    "SORT_ORDER" : None,
                                    "GP" : None,
                                    "G" : None,
                                    "CLOSE_DEF_DIST_RANGE" : None,
                                    "FGA_FREQUENCY" : None,
                                    "FGM" : None,
                                    "FGA" : None,
                                    "FG_PCT" : None,
                                    "EFG_PCT" : None,
                                    "FG2A_FREQUENCY" : None,
                                    "FG2M" : None,
                                    "FG2A" : None,
                                    "FG2_PCT" : None,
                                    "FG3A_FREQUENCY" : None,
                                    "FG3M" : None,
                                    "FG3A" : None,
                                    "FG3_PCT" : None
                                  }

closest_defender_10ftPlus_shooting_stats = {
                                            "PLAYER_ID" : None,
                                            "PLAYER_NAME_LAST_FIRST" : None,
                                            "SORT_ORDER" : None,
                                            "GP" : None,
                                            "G" : None,
                                            "CLOSE_DEF_DIST_RANGE" : None,
                                            "FGA_FREQUENCY" : None,
                                            "FGM" : None,
                                            "FGA" : None,
                                            "FG_PCT" : None,
                                            "EFG_PCT" : None,
                                            "FG2A_FREQUENCY" : None,
                                            "FG2M" : None,
                                            "FG2A" : None,
                                            "FG2_PCT" : None,
                                            "FG3A_FREQUENCY" : None,
                                            "FG3M" : None,
                                            "FG3A" : None,
                                            "FG3_PCT" : None
                                           }

touch_time_shooting_stats = {
                                "PLAYER_ID" : None,
                                "PLAYER_NAME_LAST_FIRST" : None,
                                "SORT_ORDER" : None,
                                "GP" : None,
                                "G" : None,
                                "TOUCH_TIME_RANGE" : None,
                                "FGA_FREQUENCY" : None,
                                "FGM" : None,
                                "FGA" : None,
                                "FG_PCT" : None,
                                "EFG_PCT" : None,
                                "FG2A_FREQUENCY" : None,
                                "FG2M" : None,
                                "FG2A" : None,
                                "FG2_PCT" : None,
                                "FG3A_FREQUENCY" : None,
                                "FG3M" : None,
                                "FG3A" : None,
                                "FG3_PCT" : None
                            }

shot_distance_stats = {
                            "PLAYER_ID" : None,
                            "GROUP_SET" : None,
                            "GROUP_VALUE" : None,
                            "FGM" : None,
                            "FGA" : None,
                            "FG_PCT" : None,
                            "FG3M" : None,
                            "FG3A" : None,
                            "FG3_PCT" : None,
                            "EFG_PCT" : None,
                            "BLKA" : None,
                            "PCT_AST_2PM" : None,
                            "PCT_UAST_2PM" : None,
                            "PCT_AST_3PM" : None,
                            "PCT_UAST_3PM" : None,
                            "PCT_AST_FGM" : None,
                            "PCT_UAST_FGM" : None,
                            "FGM_RANK" : None,
                            "FGA_RANK" : None,
                            "FG_PCT_RANK" : None,
                            "FG3M_RANK" : None,
                            "FG3A_RANK" : None,
                            "FG3_PCT_RANK" : None,
                            "EFG_PCT_RANK" : None,
                            "BLKA_RANK" : None,
                            "PCT_AST_2PM_RANK" : None,
                            "PCT_UAST_2PM_RANK" : None,
                            "PCT_AST_3PM_RANK" : None,
                            "PCT_UAST_3PM_RANK" : None,
                            "PCT_AST_FGM_RANK" : None,
                            "PCT_UAST_FGM_RANK" : None,
                            "CFID" : None,
                            "CFPARAMS" : None
                            }

In [5]:
def get_stats(player_id):
    
    global df_overall_stats
    global df_general_shooting_stats
    global df_shot_clock_shooting_stats
    global df_dribble_shooting_stats
    global df_closest_defender_shooting_stats
    global df_closest_defender_10ftPlus_shooting_stats
    global df_touch_time_shooting_stats
    
    #URL for shots data from NBA Stats API, with player ID set as a variable so we can iterate through players
    shots_url = 'https://stats.nba.com/stats/playerdashptshots?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=PerGame&Period=0&PlayerID=' + str(player_id) + '&Season=2017-18&SeasonSegment=&SeasonType=Regular+Season&TeamID=0&VsConference=&VsDivision='
    
    #for some reason, stats.nba.com seems to be blocking requests, but I found a workaround by setting up the request headers to match that of my browser
    headers = {'Accept': 'application/json, text/plain, */*',
              'Accept-Encoding': 'gzip, deflate, br',
              'Accept-Language': 'en-US,en;q=0.9,ko;q=0.8,it;q=0.7',
              'Connection': 'keep-alive',
              'Cookie': 's_cc=true; s_fid=58934926698E1622-1EFF83B875B92BD6; s_vi=[CS]v1|2D122DED85030B7C-600011846000BA7C[CE]; ASP.NET_SessionId=hz2hnihwtkklykyio3bwuncz; globalUserOrderId=Id=; bSID=Id=202843ae-ab57-4447-98fc-2ba650e04e46; mmapi.store.p.0=%7B%22mmparams.d%22%3A%7B%7D%2C%22mmparams.p%22%3A%7B%22pd%22%3A%221545070715833%7C%5C%221554846393%7CAQAAAApVAgDdTfzdow8AAREAAUIBpXMpAQAPS56WekXVSA9LnpZ6RdVIAAAAAP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FAAZEaXJlY3QBow8BAAAAAAAAAQAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FBAB5SAAAGodctJOjDwD%2F%2F%2F%2F%2FAaMPow%2F%2F%2FwEAAAEAAAAAAd6xAADOGQEAAPhTAACY6UAK7qMPAP%2F%2F%2F%2F8Bow%2BjD%2F%2F%2FAQAAAQAAAAAB98sAAAFEAQAA1bwAAKphasrSow8A%2F%2F%2F%2F%2FwGjD6MP%2F%2F8BAAABAAAAAAHgrAEAfI8CAADJqwAAMpXF9jmjDwD%2F%2F%2F%2F%2FAaMPow%2F%2F%2FwEAAAEAAAAAAbOJAQAFWQIAAAAAAAAAAUU%3D%5C%22%22%2C%22srv%22%3A%221545070715858%7C%5C%22nycvwcgus02%5C%22%22%7D%7D; mmapi.store.s.0=%7B%22mmparams.d%22%3A%7B%7D%2C%22mmparams.p%22%3A%7B%7D%7D; s_fuid=63825255262426291542233648768471346134; s_pers=%20s_last_team%3DNew%2520York%2520Knicks%7C1545070716985%3B; _4c_=fVPdTuM8EH2VlS%2B4KvVf7NiVKtSWIrH7URbaRdorZOJJG7VNIseBDyHenUlpuwhWm0rVzPGZmeOZ8Qt5WkFJBlxxqaTizKhE9MganhsyeCFZ3f0%2F7szKAxkQbvtJX5AeacMG3VWM9YDSJlYB%2BuWD62fVlm7ALVugs%2FGIRnBbOoOn%2B99VWN%2F%2FKIts3dDMRVhW4ZlKZhL6EKqnBmgOLrYBfB0q32aRCsMEV5bWLsQSQuEpF6nQtKnakAF1a26TBCue1ht31qzboVXMSGtQ2nxV1HVRLq8griqPKmcI%2FsSwlWvAz90GLiNs9%2Fj1tizuXEjsApr4CTNfMaX%2BgumvmPnIm1RtXZW%2FsPge%2BG%2FXoeuwwPYcheFZFx88hMvzD86d27Rd67tLuCUsnuuDNz%2FwbgF7V%2BKVJy2OYgvhYy68KwooOzGIvbe7I0xWAanftEQ0x0GTzDIQudRMpQljMudSGJ%2FkFhQIIxVDXoVrQa5chmaAHEI4lGqK2KnKXelikTXdHiAaIWy7iE7L1eL2fjwdTa5nf%2FbmSOdc9EWV9kuI9IE2zfHEw2MPbRw0WpTT7%2FNTjhsoaSOsVkYwlXCNoz8b3YyH%2FCQv%2FFAZKxMrtLZmyrUQp3x6cWHk2KRqbMX4XJ%2BMbqZDjppq3GzSGZsqw61AB9%2FCa4%2F8%2F%2F4gtEBZWrMULxJx243GtuCHDNzH%2FcsgMmMZMx6ET13unXLeAYdUZJIlhtku%2FS6f4JKzVCj8YYIa8%2B3i%2BbGcSuyunNyX48mxXCf0E%2FsgTn8V9z7if8SYzzGvr28%3D; fsr.s={"f":1513535109275}; __gads=ID=3fcb48e97bf2e17b:T=1513643140:S=ALNI_Ma_GcnJLBJXZHp2spIpMyQ_tq-egw; _parsely_visitor={%22id%22:%2205bcee40-6330-4d4c-8555-418719d7b9ec%22%2C%22session_count%22:2%2C%22last_session_ts%22:1514577879463}; _ga=GA1.2.539792339.1515110937; _gid=GA1.2.1010385756.1515633192; ug=5a385c7c0e2aac0a3c732e33dc03d3b6; ugs=1; s_sq=fanaticsdev%252Cfannbadev%3D%2526pid%253Dnba%252520store%25253Anba%25253Anew%252520york%252520knicks%2526pidt%253D1%2526oid%253Dfunctionhide%252528%252529%25257Bmodal.style%25255B%252527display%252527%25255D%25253Doverlay.style%25255B%252527display%252527%25255D%25253D%252527none%252527%25257D%2526oidt%253D2%2526ot%253DA; _gat=1',
              'Host': 'stats.nba.com',
              'Referer': 'https://stats.nba.com/player/202689/shots-dash/',
              'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36',
              'x-nba-stats-origin': 'stats',
              'x-nba-stats-token': 'true'}

    response = requests.get(shots_url, headers=headers)
    overallStats = response.json()['resultSets'][0]['rowSet']
    shots = response.json()['resultSets'][0]['rowSet']
    data = json.loads(response.text)

    #Create df from data
    headers = data['resultSets'][0]['headers']
    shot_data = data['resultSets'][0]['rowSet']
    df_overall_shooting_temp = pd.DataFrame(shot_data,columns=headers)

    headers = data['resultSets'][1]['headers']
    shot_data = data['resultSets'][1]['rowSet']
    df_general_shooting_temp = pd.DataFrame(shot_data,columns=headers)

    headers = data['resultSets'][2]['headers']
    shot_data = data['resultSets'][2]['rowSet']
    df_shot_clock_shooting_temp = pd.DataFrame(shot_data,columns=headers)

    headers = data['resultSets'][3]['headers']
    shot_data = data['resultSets'][3]['rowSet']
    df_dribble_shooting_temp = pd.DataFrame(shot_data,columns=headers)

    headers = data['resultSets'][4]['headers']
    shot_data = data['resultSets'][4]['rowSet']
    df_close_defender_shooting_temp = pd.DataFrame(shot_data,columns=headers)

    headers = data['resultSets'][5]['headers']
    shot_data = data['resultSets'][5]['rowSet']
    df_close_defender_10plus_shooting_temp = pd.DataFrame(shot_data,columns=headers)

    headers = data['resultSets'][6]['headers']
    shot_data = data['resultSets'][6]['rowSet']
    df_touch_time_shooting_temp = pd.DataFrame(shot_data,columns=headers)
    
   
    df_overall_stats = df_overall_stats.append(df_overall_shooting_temp)
    df_general_shooting_stats = df_general_shooting_stats.append(df_general_shooting_temp)
    df_shot_clock_shooting_stats = df_shot_clock_shooting_stats.append(df_shot_clock_shooting_temp)
    df_dribble_shooting_stats = df_dribble_shooting_stats.append(df_dribble_shooting_temp)
    df_closest_defender_shooting_stats = df_closest_defender_shooting_stats.append(df_close_defender_shooting_temp)
    df_closest_defender_10ftPlus_shooting_stats = df_closest_defender_10ftPlus_shooting_stats.append(df_close_defender_10plus_shooting_temp)
    df_touch_time_shooting_stats = df_touch_time_shooting_stats.append(df_touch_time_shooting_temp)

In [6]:
df_overall_stats = df_overall_stats.iloc[0:0]
df_general_shooting_stats = df_general_shooting_stats.iloc[0:0]
df_shot_clock_shooting_stats = df_shot_clock_shooting_stats.iloc[0:0]
df_dribble_shooting_stats = df_dribble_shooting_stats.iloc[0:0]
df_closest_defender_shooting_stats = df_closest_defender_shooting_stats.iloc[0:0]
df_closest_defender_10ftPlus_shooting_stats = df_closest_defender_10ftPlus_shooting_stats.iloc[0:0]
df_touch_time_shooting_stats = df_touch_time_shooting_stats.iloc[0:0]
for i in playerIDs:
    get_stats(i)

In [7]:
df_overall_stats.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,SORT_ORDER,GP,G,SHOT_TYPE,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
0,201166,"Brooks, Aaron",1,32,23,Overall,1.0,0.88,2.03,0.431,0.515,0.538,0.53,1.09,0.486,0.462,0.34,0.94,0.367
0,203932,"Gordon, Aaron",1,58,58,Overall,1.0,6.40,14.05,0.455,0.525,0.587,4.45,8.24,0.54,0.413,1.95,5.81,0.335
0,1627846,"Nader, Abdel",1,47,36,Overall,1.0,1.06,2.94,0.362,0.446,0.536,0.57,1.57,0.365,0.464,0.49,1.36,0.359
0,203940,"Payne, Adreian",1,5,3,Overall,1.0,1.40,2.00,0.700,0.800,0.700,1.00,1.40,0.714,0.300,0.40,0.60,0.667
0,201143,"Horford, Al",1,69,69,Overall,1.0,5.06,10.03,0.504,0.570,0.692,3.74,6.94,0.539,0.308,1.32,3.09,0.427

In [34]:
def get_distance_stats(player_id):
    
    global df_shot_distance_stats
    
    #URL for shots data from NBA Stats API, with player ID set as a variable so we can iterate through players
    shots_url = 'https://stats.nba.com/stats/playerdashboardbyshootingsplits?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlayerID=' + str(player_id) + '&PlusMinus=N&Rank=N&Season=2017-18&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&VsConference=&VsDivision='

    #for some reason, stats.nba.com seems to be blocking requests, but I found a workaround by setting up the request headers to match that of my browser
    headers = {'Accept': 'application/json, text/plain, */*',
              'Accept-Encoding': 'gzip, deflate, br',
              'Accept-Language': 'en-US,en;q=0.9,ko;q=0.8,it;q=0.7',
              'Connection': 'keep-alive',
              'Cookie': 's_cc=true; s_fid=58934926698E1622-1EFF83B875B92BD6; s_vi=[CS]v1|2D122DED85030B7C-600011846000BA7C[CE]; ASP.NET_SessionId=hz2hnihwtkklykyio3bwuncz; globalUserOrderId=Id=; bSID=Id=202843ae-ab57-4447-98fc-2ba650e04e46; mmapi.store.p.0=%7B%22mmparams.d%22%3A%7B%7D%2C%22mmparams.p%22%3A%7B%22pd%22%3A%221545070715833%7C%5C%221554846393%7CAQAAAApVAgDdTfzdow8AAREAAUIBpXMpAQAPS56WekXVSA9LnpZ6RdVIAAAAAP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FAAZEaXJlY3QBow8BAAAAAAAAAQAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FBAB5SAAAGodctJOjDwD%2F%2F%2F%2F%2FAaMPow%2F%2F%2FwEAAAEAAAAAAd6xAADOGQEAAPhTAACY6UAK7qMPAP%2F%2F%2F%2F8Bow%2BjD%2F%2F%2FAQAAAQAAAAAB98sAAAFEAQAA1bwAAKphasrSow8A%2F%2F%2F%2F%2FwGjD6MP%2F%2F8BAAABAAAAAAHgrAEAfI8CAADJqwAAMpXF9jmjDwD%2F%2F%2F%2F%2FAaMPow%2F%2F%2FwEAAAEAAAAAAbOJAQAFWQIAAAAAAAAAAUU%3D%5C%22%22%2C%22srv%22%3A%221545070715858%7C%5C%22nycvwcgus02%5C%22%22%7D%7D; mmapi.store.s.0=%7B%22mmparams.d%22%3A%7B%7D%2C%22mmparams.p%22%3A%7B%7D%7D; s_fuid=63825255262426291542233648768471346134; s_pers=%20s_last_team%3DNew%2520York%2520Knicks%7C1545070716985%3B; _4c_=fVPdTuM8EH2VlS%2B4KvVf7NiVKtSWIrH7URbaRdorZOJJG7VNIseBDyHenUlpuwhWm0rVzPGZmeOZ8Qt5WkFJBlxxqaTizKhE9MganhsyeCFZ3f0%2F7szKAxkQbvtJX5AeacMG3VWM9YDSJlYB%2BuWD62fVlm7ALVugs%2FGIRnBbOoOn%2B99VWN%2F%2FKIts3dDMRVhW4ZlKZhL6EKqnBmgOLrYBfB0q32aRCsMEV5bWLsQSQuEpF6nQtKnakAF1a26TBCue1ht31qzboVXMSGtQ2nxV1HVRLq8griqPKmcI%2FsSwlWvAz90GLiNs9%2Fj1tizuXEjsApr4CTNfMaX%2BgumvmPnIm1RtXZW%2FsPge%2BG%2FXoeuwwPYcheFZFx88hMvzD86d27Rd67tLuCUsnuuDNz%2FwbgF7V%2BKVJy2OYgvhYy68KwooOzGIvbe7I0xWAanftEQ0x0GTzDIQudRMpQljMudSGJ%2FkFhQIIxVDXoVrQa5chmaAHEI4lGqK2KnKXelikTXdHiAaIWy7iE7L1eL2fjwdTa5nf%2FbmSOdc9EWV9kuI9IE2zfHEw2MPbRw0WpTT7%2FNTjhsoaSOsVkYwlXCNoz8b3YyH%2FCQv%2FFAZKxMrtLZmyrUQp3x6cWHk2KRqbMX4XJ%2BMbqZDjppq3GzSGZsqw61AB9%2FCa4%2F8%2F%2F4gtEBZWrMULxJx243GtuCHDNzH%2FcsgMmMZMx6ET13unXLeAYdUZJIlhtku%2FS6f4JKzVCj8YYIa8%2B3i%2BbGcSuyunNyX48mxXCf0E%2FsgTn8V9z7if8SYzzGvr28%3D; fsr.s={"f":1513535109275}; __gads=ID=3fcb48e97bf2e17b:T=1513643140:S=ALNI_Ma_GcnJLBJXZHp2spIpMyQ_tq-egw; _parsely_visitor={%22id%22:%2205bcee40-6330-4d4c-8555-418719d7b9ec%22%2C%22session_count%22:2%2C%22last_session_ts%22:1514577879463}; _ga=GA1.2.539792339.1515110937; _gid=GA1.2.1010385756.1515633192; ug=5a385c7c0e2aac0a3c732e33dc03d3b6; ugs=1; s_sq=fanaticsdev%252Cfannbadev%3D%2526pid%253Dnba%252520store%25253Anba%25253Anew%252520york%252520knicks%2526pidt%253D1%2526oid%253Dfunctionhide%252528%252529%25257Bmodal.style%25255B%252527display%252527%25255D%25253Doverlay.style%25255B%252527display%252527%25255D%25253D%252527none%252527%25257D%2526oidt%253D2%2526ot%253DA; _gat=1',
              'Host': 'stats.nba.com',
              'Referer': 'https://stats.nba.com/player/202689/shots-dash/',
              'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36',
              'x-nba-stats-origin': 'stats',
              'x-nba-stats-token': 'true'}

    response = requests.get(shots_url, headers=headers)
    overallStats = response.json()['resultSets'][0]['rowSet']
    shots = response.json()['resultSets'][0]['rowSet']
    data = json.loads(response.text)

    #Create df from data
    headers = data['resultSets'][1]['headers']
    shot_data = data['resultSets'][1]['rowSet']
    df_shot_distance_temp = pd.DataFrame(shot_data, columns=headers)
    df_shot_distance_temp['PLAYER_ID'] = player_id
   
    df_shot_distance_stats = df_shot_distance_stats.append(df_shot_distance_temp)

In [35]:
df_shot_distance_stats = df_shot_distance_stats.iloc[0:0]
for i in playerIDs:
    get_distance_stats(i)

In [36]:
df_general_shooting_stats.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,SORT_ORDER,GP,G,SHOT_TYPE,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
0,201166,"Brooks, Aaron",1,32,9,Catch and Shoot,0.231,0.25,0.47,0.533,0.800,0.015,0.00,0.03,0,0.215,0.25,0.44,0.571
1,201166,"Brooks, Aaron",2,32,18,Pull Ups,0.477,0.38,0.97,0.387,0.435,0.231,0.28,0.47,0.6,0.246,0.09,0.50,0.188
2,201166,"Brooks, Aaron",3,32,11,Less than 10 ft,0.292,0.25,0.59,0.421,0.421,0.292,0.25,0.59,0.421,0.000,0.00,0.00,NaN
0,203932,"Gordon, Aaron",1,58,58,Catch and Shoot,0.325,1.72,4.57,0.377,0.545,0.047,0.19,0.66,0.289,0.279,1.53,3.91,0.392
1,203932,"Gordon, Aaron",2,58,56,Pull Ups,0.312,1.29,4.38,0.295,0.341,0.183,0.90,2.57,0.349,0.129,0.40,1.81,0.219

In [37]:
#create a dataframe w/ PLAYER_ID, 20-24 3PA, 25-29 3PA, 30-34 3PA, Catch and Shoot 3PA, Pull Ups 3PA, Very Tight 3PA, Tight 3PA, Open 3PA,
#Wide Open 3PA
analysis_df = df_overall_stats[['PLAYER_ID','PLAYER_NAME_LAST_FIRST', 'GP', 'FG3M', 'FG3A', 'FG3_PCT']]
analysis_df = analysis_df.rename(columns = {'FG3M': '3PM', 'FG3A': '3PA'})
df_20to24 = df_shot_distance_stats[df_shot_distance_stats['GROUP_VALUE'] == '20-24 ft.']
df_25to29 = df_shot_distance_stats[df_shot_distance_stats['GROUP_VALUE'] == '25-29 ft.']
df_30to34 = df_shot_distance_stats[df_shot_distance_stats['GROUP_VALUE'] == '30-34 ft.']
df_catch_and_shoot = df_general_shooting_stats[df_general_shooting_stats['SHOT_TYPE'] == 'Catch and Shoot']
df_pull_ups = df_general_shooting_stats[df_general_shooting_stats['SHOT_TYPE'] == 'Pull Ups']
df_very_tight = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '0-2 Feet - Very Tight']
df_tight = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '2-4 Feet - Tight']
df_open = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '4-6 Feet - Open']
df_wide_open = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '6+ Feet - Wide Open']

In [38]:
merged_df = pd.merge(analysis_df,df_20to24[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': '20-24 FG3M','FG3A': '20-24 FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0

In [39]:
merged_df = pd.merge(merged_df,df_25to29[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': '25-29 FG3M','FG3A': '25-29 FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161

In [40]:
merged_df = pd.merge(merged_df,df_30to34[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': '30-34 FG3M','FG3A': '30-34 FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,30-34 FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,0.0,1.0
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,0.0,3.0
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,0.0,0.0
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,0.0,0.0
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,0.0,0.0

In [41]:
merged_df = pd.merge(merged_df,df_catch_and_shoot[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': 'Catch and Shoot FG3M','FG3A': 'Catch and Shoot FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,30-34 FG3A,Catch and Shoot FG3M,Catch and Shoot FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,0.0,1.0,0.25,0.44
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,0.0,3.0,1.53,3.91
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,0.0,0.0,0.47,1.34
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,0.0,0.0,0.40,0.60
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,0.0,0.0,1.20,2.86

In [42]:
merged_df = pd.merge(merged_df,df_pull_ups[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': 'Pull Ups FG3M','FG3A': 'Pull Ups FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,30-34 FG3A,Catch and Shoot FG3M,Catch and Shoot FG3A,Pull Ups FG3M,Pull Ups FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,0.0,1.0,0.25,0.44,0.09,0.50
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,0.0,3.0,1.53,3.91,0.40,1.81
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,0.0,0.0,0.47,1.34,0.02,0.02
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,0.0,0.0,0.40,0.60,0.00,0.00
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,0.0,0.0,1.20,2.86,0.07,0.09

In [43]:
merged_df = pd.merge(merged_df,df_very_tight[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': 'Very Tight FG3M','FG3A': 'Very Tight FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,30-34 FG3A,Catch and Shoot FG3M,Catch and Shoot FG3A,Pull Ups FG3M,Pull Ups FG3A,Very Tight FG3M,Very Tight FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,0.0,1.0,0.25,0.44,0.09,0.50,0.00,0.00
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,0.0,3.0,1.53,3.91,0.40,1.81,0.00,0.00
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,0.0,0.0,0.47,1.34,0.02,0.02,0.02,0.02
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,0.0,0.0,0.40,0.60,0.00,0.00,0.00,0.00
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,0.0,0.0,1.20,2.86,0.07,0.09,0.00,0.00

In [44]:
merged_df = pd.merge(merged_df,df_tight[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': 'Tight FG3M','FG3A': 'Tight FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,30-34 FG3A,Catch and Shoot FG3M,Catch and Shoot FG3A,Pull Ups FG3M,Pull Ups FG3A,Very Tight FG3M,Very Tight FG3A,Tight FG3M,Tight FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,0.0,1.0,0.25,0.44,0.09,0.50,0.00,0.00,0.03,0.09
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,0.0,3.0,1.53,3.91,0.40,1.81,0.00,0.00,0.03,0.40
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,0.0,0.0,0.47,1.34,0.02,0.02,0.02,0.02,0.06,0.17
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,0.0,0.0,0.40,0.60,0.00,0.00,0.00,0.00,0.00,0.00
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,0.0,0.0,1.20,2.86,0.07,0.09,0.00,0.00,0.01,0.04

In [45]:
merged_df = pd.merge(merged_df,df_open[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': 'Open FG3M','FG3A': 'Open FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,...,Catch and Shoot FG3M,Catch and Shoot FG3A,Pull Ups FG3M,Pull Ups FG3A,Very Tight FG3M,Very Tight FG3A,Tight FG3M,Tight FG3A,Open FG3M,Open FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,...,0.25,0.44,0.09,0.50,0.00,0.00,0.03,0.09,0.13,0.44
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,...,1.53,3.91,0.40,1.81,0.00,0.00,0.03,0.40,0.53,1.84
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,...,0.47,1.34,0.02,0.02,0.02,0.02,0.06,0.17,0.06,0.32
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,...,0.40,0.60,0.00,0.00,0.00,0.00,0.00,0.00,0.20,0.20
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,...,1.20,2.86,0.07,0.09,0.00,0.00,0.01,0.04,0.17,0.45

In [46]:
merged_df = pd.merge(merged_df,df_wide_open[['PLAYER_ID', 'FG3M', 'FG3A']], on='PLAYER_ID', how='left')
merged_df = merged_df.rename(columns={'FG3M': 'Wide Open FG3M','FG3A': 'Wide Open FG3A'})
merged_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,...,Pull Ups FG3M,Pull Ups FG3A,Very Tight FG3M,Very Tight FG3A,Tight FG3M,Tight FG3A,Open FG3M,Open FG3A,Wide Open FG3M,Wide Open FG3A
0,201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,...,0.09,0.50,0.00,0.00,0.03,0.09,0.13,0.44,0.19,0.41
1,203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,...,0.40,1.81,0.00,0.00,0.03,0.40,0.53,1.84,1.38,3.57
2,1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,...,0.02,0.02,0.02,0.02,0.06,0.17,0.06,0.32,0.34,0.85
3,203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.20,0.20,0.20,0.40
4,201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,...,0.07,0.09,0.00,0.00,0.01,0.04,0.17,0.45,1.13,2.59

In [47]:
merged_df['Contested FG3M'] = merged_df['Very Tight FG3M'] + merged_df['Tight FG3M']
merged_df['Contested FG3A'] = merged_df['Very Tight FG3A'] + merged_df['Tight FG3A']
merged_df['Uncontested FG3M'] = merged_df['Open FG3M'] + merged_df['Wide Open FG3M']
merged_df['Uncontested FG3A'] = merged_df['Open FG3A'] + merged_df['Wide Open FG3A']
merged_df['25-34 FG3M'] = merged_df['25-29 FG3M'] + merged_df['30-34 FG3M']
merged_df['25-34 FG3A'] = merged_df['25-29 FG3A'] + merged_df['30-34 FG3A']

In [48]:
#find average 3P PCT for each type of shot
short_avg = df_shot_distance_stats[df_shot_distance_stats['GROUP_VALUE'] == '20-24 ft.'].FG3_PCT.mean()
medium_avg = df_shot_distance_stats[df_shot_distance_stats['GROUP_VALUE'] == '25-29 ft.'].FG3_PCT.mean()
long_avg = df_shot_distance_stats[df_shot_distance_stats['GROUP_VALUE'] == '30-34 ft.'].FG3_PCT.mean()
mediumToLong_avg = df_shot_distance_stats[(df_shot_distance_stats['GROUP_VALUE'] == '25-29 ft.') | (df_shot_distance_stats['GROUP_VALUE'] == '30-34 ft.')].FG3_PCT.mean()
cs_avg = df_general_shooting_stats[df_general_shooting_stats['SHOT_TYPE'] == 'Catch and Shoot'].FG3_PCT.mean()
pu_avg = df_general_shooting_stats[df_general_shooting_stats['SHOT_TYPE'] == 'Pull Ups'].FG3_PCT.mean()
vtight_avg = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '0-2 Feet - Very Tight'].FG3_PCT.mean()
tight_avg = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '2-4 Feet - Tight'].FG3_PCT.mean()
open_avg = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '4-6 Feet - Open'].FG3_PCT.mean()
wopen_avg = df_closest_defender_shooting_stats[df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '6+ Feet - Wide Open'].FG3_PCT.mean()
contested_avg = df_closest_defender_shooting_stats[(df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '0-2 Feet - Very Tight') | (df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '2-4 Feet - Tight')].FG3_PCT.mean()
uncontested_avg = df_closest_defender_shooting_stats[(df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '4-6 Feet - Open') | (df_closest_defender_shooting_stats['CLOSE_DEF_DIST_RANGE'] == '6+ Feet - Wide Open')].FG3_PCT.mean()

In [49]:
merged_df['20-24 Average'] = short_avg
merged_df['25-29 Average'] = medium_avg
merged_df['30-34 Average'] = long_avg
merged_df['25-34 Average'] = mediumToLong_avg
merged_df['Catch and Shoot Average'] = cs_avg
merged_df['Pull Ups Average'] = pu_avg
merged_df['Very Tight Average'] = vtight_avg
merged_df['Tight Average'] = tight_avg
merged_df['Open Average'] = open_avg
merged_df['Wide Open Average'] = wopen_avg
merged_df['Contested Average'] = contested_avg
merged_df['Uncontested Average'] = uncontested_avg

merged_df['20-24 %'] = merged_df['20-24 FG3M'] / merged_df['20-24 FG3A']
merged_df['25-29 %'] = merged_df['25-29 FG3M'] / merged_df['25-29 FG3A']
merged_df['30-34 %'] = merged_df['30-34 FG3M'] / merged_df['30-34 FG3A']
merged_df['25-34 %'] = merged_df['25-34 FG3M'] / merged_df['25-34 FG3A']
merged_df['Catch and Shoot %'] = merged_df['Catch and Shoot FG3M'] / merged_df['Catch and Shoot FG3A']
merged_df['Pull Ups %'] = merged_df['Pull Ups FG3M'] / merged_df['Pull Ups FG3A']
merged_df['Very Tight %'] = merged_df['Very Tight FG3M'] / merged_df['Very Tight FG3A']
merged_df['Tight %'] = merged_df['Tight FG3M'] / merged_df['Tight FG3A']
merged_df['Open %'] = merged_df['Open FG3M'] / merged_df['Open FG3A']
merged_df['Wide Open %'] = merged_df['Wide Open FG3M'] / merged_df['Wide Open FG3A']
merged_df['Contested %'] = merged_df['Contested FG3M'] / merged_df['Contested FG3A']
merged_df['Uncontested %'] = merged_df['Uncontested FG3M'] / merged_df['Uncontested FG3A']

In [50]:
merged_df = merged_df.set_index('PLAYER_ID')
merged_df.head()

,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,...,30-34 %,25-34 %,Catch and Shoot %,Pull Ups %,Very Tight %,Tight %,Open %,Wide Open %,Contested %,Uncontested %
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
201166,"Brooks, Aaron",32,0.34,0.94,0.367,6.0,9.0,5,19,0.0,...,0.0,0.250000,0.568182,0.180000,NaN,0.333333,0.295455,0.463415,0.333333,0.376471
203932,"Gordon, Aaron",58,1.95,5.81,0.335,36.0,102.0,79,236,0.0,...,0.0,0.330544,0.391304,0.220994,NaN,0.075000,0.288043,0.386555,0.075000,0.353050
1627846,"Nader, Abdel",47,0.49,1.36,0.359,11.0,28.0,12,37,0.0,...,NaN,0.324324,0.350746,1.000000,1.0,0.352941,0.187500,0.400000,0.421053,0.341880
203940,"Payne, Adreian",5,0.40,0.60,0.667,2.0,2.0,0,1,0.0,...,NaN,0.000000,0.666667,NaN,NaN,NaN,1.000000,0.500000,NaN,0.666667
201143,"Horford, Al",69,1.32,3.09,0.427,26.0,65.0,71,161,0.0,...,NaN,0.440994,0.419580,0.777778,NaN,0.250000,0.377778,0.436293,0.250000,0.427632

In [51]:
#remove players with less than 2 3PA per game
merged_df = merged_df[merged_df['3PA'] > 2]

In [52]:
#remove players with less than 30 games played
merged_df = merged_df[merged_df['GP'] > 49]

In [53]:
#function to calculate the effective 3 point percentage
def da3FGpct_calc(inputs):
    ThreePM = inputs['3PM']
    
    Short_3PM = inputs['20-24 FG3M']
    MediumToLong_3PM = inputs['25-34 FG3M']
    MediumToLong_multiplier = inputs['20-24 Average']/inputs['25-34 Average']
    ShotDistance_3PA = inputs['20-24 FG3A'] + inputs['25-34 FG3A']
    
    CatchAndShoot_3PM = inputs['Catch and Shoot FG3M']
    PullUp_3PM = inputs['Pull Ups FG3M']
    PullUp_multiplier = inputs['Catch and Shoot Average']/inputs['Pull Ups Average']
    ShotType_3PA = inputs['Catch and Shoot FG3A'] + inputs ['Pull Ups FG3A']
    
    Contested_3PM = inputs['Contested FG3M']
    Uncontested_3PM = inputs['Uncontested FG3M']
    Contested_multiplier = inputs['Uncontested Average']/inputs['Contested Average']
    Open_3PM = inputs['Open FG3M']
    DefenderDistance_3PA = inputs['Contested FG3A'] + inputs['Uncontested FG3A']
    
    pct = ((1.0/3) * ((Short_3PM + (MediumToLong_3PM * MediumToLong_multiplier)) / ShotDistance_3PA)) + ((1.0/3) * ((CatchAndShoot_3PM + (PullUp_3PM * PullUp_multiplier)) / ShotType_3PA)) + ((1.0/3) * ((Uncontested_3PM + (Contested_3PM * Contested_multiplier)) / DefenderDistance_3PA))  
    return pct

In [54]:
merged_df['Difficulty Accounted 3 Point Percentage'] = merged_df.iloc[:, 1:].sum(axis=1)
for index, row in merged_df.iterrows():
    row['Difficulty Accounted 3 Point Percentage'] = da3FGpct_calc(row)
    merged_df.loc[row.name,'Difficulty Accounted 3 Point Percentage'] = da3FGpct_calc(row)

In [55]:
merged_df.sort_values(['Difficulty Accounted 3 Point Percentage'], ascending = False).head()

,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,...,25-34 %,Catch and Shoot %,Pull Ups %,Very Tight %,Tight %,Open %,Wide Open %,Contested %,Uncontested %,Difficulty Accounted 3 Point Percentage
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
201954,"Collison, Darren",68,1.37,2.93,0.467,40.0,82.0,56,118,0.0,...,0.466667,0.478947,0.460000,0.333333,0.285714,0.430108,0.511364,0.291667,0.483271,0.551740
2594,"Korver, Kyle",73,2.25,5.01,0.448,63.0,141.0,96,223,4.0,...,0.429185,0.460094,0.386667,0.583333,0.363636,0.448113,0.502994,0.385246,0.472296,0.525420
201142,"Durant, Kevin",68,2.51,6.03,0.417,41.0,92.0,131,311,1.0,...,0.416404,0.485714,0.333333,0.333333,0.382353,0.375940,0.572581,0.380282,0.438462,0.524397
201939,"Curry, Stephen",51,4.16,9.76,0.426,54.0,133.0,154,351,3.0,...,0.438547,0.434866,0.408989,0.416667,0.312500,0.430894,0.470588,0.325000,0.451737,0.524343
203493,"Bullock, Reggie",62,2.02,4.48,0.45,46.0,110.0,78,169,1.0,...,0.464706,0.450521,0.446154,NaN,0.357143,0.466258,0.454918,0.357143,0.459459,0.524203

In [56]:
#JUST NEED TO DO VISUALIZATIONS
#scatterplotof short vs medium
#scatterplot of pull ups vs catch and shoot 
#scatterplot of contested vs uncontested

merged_df['20-24 %'] = merged_df['20-24 FG3M'] / merged_df['20-24 FG3A']
merged_df['25-29 %'] = merged_df['25-29 FG3M'] / merged_df['25-29 FG3A']
merged_df['30-34 %'] = merged_df['30-34 FG3M'] / merged_df['30-34 FG3A']
merged_df['Catch and Shoot %'] = merged_df['Catch and Shoot FG3M'] / merged_df['Catch and Shoot FG3A']
merged_df['Pull Ups %'] = merged_df['Pull Ups FG3M'] / merged_df['Pull Ups FG3A']
merged_df['Very Tight %'] = merged_df['Very Tight FG3M'] / merged_df['Very Tight FG3A']
merged_df['Tight %'] = merged_df['Tight FG3M'] / merged_df['Tight FG3A']
merged_df['Open %'] = merged_df['Open FG3M'] / merged_df['Open FG3A']
merged_df['Wide Open %'] = merged_df['Wide Open FG3M'] / merged_df['Wide Open FG3A']

In [57]:
#Dataframe that is filtered out for volume for subsets of data
shot_distance_filtered_df = merged_df[merged_df['20-24 FG3A'] > 50]
shot_distance_filtered_df = shot_distance_filtered_df[shot_distance_filtered_df['25-34 FG3A'] > 50]
#cant include lefuck you 3's because of a lack of attempts
shot_distance_lefuckyou_filtered_df = merged_df[merged_df['30-34 FG3A'] > 5]
#shot distance stats are aggregates, while everything else is per game - hence different minimum criteria
shot_type_filtered_df = merged_df[merged_df['Catch and Shoot FG3A'] > 1]
shot_type_filtered_df = shot_type_filtered_df[shot_type_filtered_df['Pull Ups FG3A'] > 1]
#shot contests grouped
shot_contest_filtered_df = merged_df[merged_df['Contested FG3A'] > .5]
shot_contest_filtered_df = shot_contest_filtered_df[shot_contest_filtered_df['Uncontested FG3A'] > .5]
#shot only open 
shot_contest_onlyOpen_filtered_df = merged_df[merged_df['Contested FG3A'] < .5]
shot_contest_onlyOpen_filtered_df = shot_contest_onlyOpen_filtered_df[shot_contest_onlyOpen_filtered_df['Uncontested FG3A'] > .5]
#shot granular contests
shot_contest_granular_filtered_df = merged_df[merged_df['Very Tight FG3A'] > .1]
shot_contest_granular_filtered_df = shot_contest_granular_filtered_df[shot_contest_granular_filtered_df['Tight FG3A'] > .25]
shot_contest_granular_filtered_df = shot_contest_granular_filtered_df[shot_contest_granular_filtered_df['Open FG3A'] > .25]
shot_contest_granular_filtered_df = shot_contest_granular_filtered_df[shot_contest_granular_filtered_df['Wide Open FG3A'] > .25]

In [58]:
merged_df.to_csv('merged_df.csv', sep='\t')
shot_distance_filtered_df.to_csv('shot_distance_filtered_df.csv', sep='\t')
shot_distance_lefuckyou_filtered_df.to_csv('shot_distance_lefuckyou_filtered_df.csv', sep='\t')
shot_type_filtered_df.to_csv('shot_type_filtered_df.csv', sep='\t')
shot_contest_filtered_df.to_csv('shot_contest_filtered_df.csv', sep='\t')
shot_contest_onlyOpen_filtered_df.to_csv('shot_contest_onlyOpen_filtered_df.csv', sep='\t')
shot_contest_granular_filtered_df.to_csv('shot_contest_granular_filtered_df.csv', sep='\t')

In [59]:
merged_df.sort_values(['Difficulty Accounted 3 Point Percentage'], ascending = False).head()

,PLAYER_NAME_LAST_FIRST,GP,3PM,3PA,FG3_PCT,20-24 FG3M,20-24 FG3A,25-29 FG3M,25-29 FG3A,30-34 FG3M,...,25-34 %,Catch and Shoot %,Pull Ups %,Very Tight %,Tight %,Open %,Wide Open %,Contested %,Uncontested %,Difficulty Accounted 3 Point Percentage
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
201954,"Collison, Darren",68,1.37,2.93,0.467,40.0,82.0,56,118,0.0,...,0.466667,0.478947,0.460000,0.333333,0.285714,0.430108,0.511364,0.291667,0.483271,0.551740
2594,"Korver, Kyle",73,2.25,5.01,0.448,63.0,141.0,96,223,4.0,...,0.429185,0.460094,0.386667,0.583333,0.363636,0.448113,0.502994,0.385246,0.472296,0.525420
201142,"Durant, Kevin",68,2.51,6.03,0.417,41.0,92.0,131,311,1.0,...,0.416404,0.485714,0.333333,0.333333,0.382353,0.375940,0.572581,0.380282,0.438462,0.524397
201939,"Curry, Stephen",51,4.16,9.76,0.426,54.0,133.0,154,351,3.0,...,0.438547,0.434866,0.408989,0.416667,0.312500,0.430894,0.470588,0.325000,0.451737,0.524343
203493,"Bullock, Reggie",62,2.02,4.48,0.45,46.0,110.0,78,169,1.0,...,0.464706,0.450521,0.446154,NaN,0.357143,0.466258,0.454918,0.357143,0.459459,0.524203

In [60]:
len(playerIDs)

479